.about {
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 10vw
}

.about>div:last-child {
    padding-top: 25px;
    color: #c2cbc3;
    font-size: 16px;
    line-height: 1.65
}

.about p+p {
    margin-top: 22px
}

.about .links {
    margin-top: 35px
}

@media(max-width:760px) {
    .about {
        grid-template-columns: 1fr;
        gap: 25px
    }
}
