.about {
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 10vw;
    padding-top: clamp(96px, 7vw, 110px);
    padding-bottom: clamp(96px, 7vw, 110px);
    padding-inline: 8vw
}

.about>div:last-child {
    padding-top: 25px;
    color: var(--faint);
    font-size: 16px;
    line-height: 1.65
}

.about p+p {
    margin-top: 22px
}

.about .links {
    margin-top: 35px
}

@media(max-width:760px) {
    .about {
        grid-template-columns: 1fr;
        gap: 25px;
        padding-top: 17vw;
        padding-bottom: 17vw;
        padding-inline: 6vw
    }
}
