.contact {
    max-width: 1440px;
    margin: auto;
    padding: 9vw 8vw 25px;
    border-top: 1px solid var(--line)
}

.contact h2 {
    font: 500 clamp(36px, 5vw, 74px)/1 var(--display);
    letter-spacing: -.075em;
    margin: 18px 0 50px
}

.contact h2 em {
    font-style: normal;
    color: var(--muted)
}

.mail {
    font-size: clamp(16px, 2vw, 26px);
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--green);
}

.mail:hover {
    color: var(--green);
    transform: translateY(-3px);
    border-bottom-color: var(--text);
}

.bottom {
    margin-top: 130px;
    padding-top: 20px;
    border-top: 1px solid var(--line);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--muted-alt);
    font: 11px var(--mono);
    letter-spacing: .01em
}

.bottom a:hover {
    color: var(--green)
}

.copyright {
    white-space: nowrap
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 11px
}

.footer-links span {
    color: var(--green)
}

.footer-links a {
    padding-bottom: 3px;
    border-bottom: 1px solid transparent
}

.footer-links a:hover {
    border-bottom-color: var(--green)
}

@media(max-width:760px) {
    .contact {
        padding-inline: 6vw
    }

    .bottom {
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px
    }
}
